<mat-toolbar color="primary" fxLayout fxLayoutAlign="space-between center">
  <h2>Edición</h2>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="grupo" fxLayout="column">
    <mat-form-field>
      <input type="text" matInput placeholder="Nombre" formControlName="nombre" required>
      <mat-error>El nombre es obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Descripción" formControlName="descripcion" required></textarea>
      <mat-error>La descripción es obligatoria</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutAlign="center" fxLayoutGap="20px">
  <button mat-raised-button color="primary" (click)="grabar()">Grabar</button>
  <button mat-stroked-button color="accent" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
