<mat-sidenav-container>
  <mat-sidenav #menuLateral>
      <a routerLink="/" (click)="menuLateral.toggle()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a routerLink="/clientes" (click)="menuLateral.toggle()">
        <mat-icon>account_box</mat-icon>
        <span>Clientes</span>
      </a>
      <a routerLink="/transportistas" (click)="menuLateral.toggle()">
        <mat-icon>commute</mat-icon>
        <span>Transportistas</span>
      </a>
      <a routerLink="/cerrar" (click)="menuLateral.toggle()">
        <mat-icon>lock</mat-icon>
        <span>Cerrar</span>
      </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="menuLateral.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>