<mat-form-field>
  <mat-select placeholder="Estado Civil" [(ngModel)]="estadoSeleccionado" required>
    <mat-option *ngFor="let estado of estadosCiviles; let indice=index" [value]="indice">{{estado}}</mat-option>
  </mat-select>
</mat-form-field>
<select placeholder="Estado Civil" [(ngModel)]="estadoSeleccionado" required matNativeControl>
  <option *ngFor="let estado of estadosCiviles; let indice=index" [value]="indice">{{estado}}</option>
</select>

<mat-progress-spinner [value]="avance" mode="indeterminate"></mat-progress-spinner>
<mat-progress-bar [value]="avance" mode="indeterminate"></mat-progress-bar>

<button matTooltip="Agrega un elemento a la lista" matTooltipPosition="left" matTooltipShowDelay="250"
  matTooltipHideDelay="3000">Agregar</button>

<mat-form-field>
  <input type="text" [matDatepicker]="fechaPicker" placeholder="Fecha de nacimiento" matInput [min]="fechaActual">
  <mat-datepicker-toggle matSuffix [for]="fechaPicker"></mat-datepicker-toggle>


  <mat-datepicker #fechaPicker></mat-datepicker>

</mat-form-field>

<div style="height: 400px;">
  <mat-grid-list cols="4" rowHeight="3:2">
    <mat-grid-tile [colspan]="col3" [rowspan]="row1">1</mat-grid-tile>
    <mat-grid-tile [colspan]="col1" [rowspan]="row2">2</mat-grid-tile>
    <mat-grid-tile [colspan]="col1">3</mat-grid-tile>
    <mat-grid-tile [colspan]="col2">4</mat-grid-tile>
  </mat-grid-list>
</div>
