<table mat-table [dataSource]="origenDatos">
  <ng-container matColumnDef="colegio">
    <th mat-header-cell *matHeaderCellDef>Colegio</th>
    <td mat-cell *matCellDef="let fila">{{fila.colegio}}</td>
  </ng-container>
  <ng-container matColumnDef="cantidadAlumnos">
    <th mat-header-cell *matHeaderCellDef>Cantidad de alumnos</th>
    <td mat-cell *matCellDef="let fila">{{fila.cantidad}}</td>
  </ng-container>
  <ng-container matColumnDef="distrito">
    <th mat-header-cell *matHeaderCellDef>Distrito</th>
    <td mat-cell *matCellDef="let fila">{{fila.distrito}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
  <tr mat-row *matRowDef="let fila; columns: columnasAMostrar"></tr>
</table>
<mat-paginator [length]="totalRegistros" [pageSize]="registrosPorPagina"></mat-paginator>
<button (click)="agregar()">Agregar</button>