<div class="contenedor" fxLayout fxLayoutAlign="center center">
  <mat-card color="primary" fxFlex.lt-sm="300px" fxFlex="400px">
    <mat-card-header>
      <mat-card-title>Recuperar contraseña</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="recuperar()" [formGroup]="grupo">
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input type="text" placeholder="Correo" formControlName="correo" name="correo" required matInput>
          <mat-error *ngIf="grupo.get('correo').hasError('required') && grupo.get('correo').touched">
            El correo es requerido
          </mat-error>
          <mat-error *ngIf="grupo.get('correo').hasError('email') && grupo.get('correo').touched">
            Debe tener formato de correo
          </mat-error>
        </mat-form-field>
        <mat-card-actions fxLayout fxLayoutAlign="center">
          <button mat-raised-button color="primary" [disabled]="grupo.invalid">
            Recuperar
          </button>
        </mat-card-actions>
        <div fxLayout fxLayoutAlign="center">
          <a routerLink="/">¿Ya tienes cuenta? clic aquí</a>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
