mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  min-height: 100vh;
}

mat-sidenav {
  width: 250px;
}

span {
  display: inline-block;
  padding-left: 10px;
}

ul {
  list-style: none;
  margin:0;
  padding:0
}

li {
  display: inline-block;
}

li a,
li a:link,
li a:visited,
li a:active {
  display: block;
  padding: 0 8px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  text-decoration: none;
}

li a:hover {
  color: rgb(255, 255, 255)
}

.fotoUsuario {
  width: 50px;
  border-radius: 50%
}
