<div class="contenedor" fxLayout fxLayoutAlign="center">
  <div fxLayout fxLayout.lt-md="column" fxFlex="1260px" fxFlex.lt-lg="90%">
    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="70%" fxFlex.lt-md fxFlexOrder="1"
      fxFlexOrder.lt-md="2">
      <mat-card fxFlex="30%" fxFlex.lt-lg="45%" fxFlex.lt-md="100%"
        *ngFor="let cliente of listaClientes; let indice=index">
        <mat-card-title>{{cliente.nombre}}</mat-card-title>
        <mat-card-content>
          {{cliente.descripcion}}
        </mat-card-content>
        <mat-card-actions fxLayout fxLayoutAlign="end">
          <button mat-raised-button color="primary">
            <mat-icon>edit</mat-icon>
            Editar
          </button>
          <button mat-stroked-button color="accent">
            <mat-icon>delete</mat-icon>
            Eliminar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="30%" fxFlex.lt-md class="formulario" fxFlexOrder="2" fxFlexOrder.lt-md="1">
      <form [formGroup]="grupo" fxLayout="column">
        <h4>Agregar cliente</h4>
        <mat-form-field>
          <input type="text" matInput placeholder="Nombre" formControlName="nombre" required>
          <mat-error *ngIf="grupo.get('nombre').invalid && grupo.get('nombre').touched">El nombre es obligatorio
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName="descripcion" required placeholder="Descripción"></textarea>
          <mat-error *ngIf="grupo.get('descripcion').invalid && grupo.get('descripcion').touched">La descripción es
            obligatoria</mat-error>
        </mat-form-field>
        <div fxLayout fxLayoutAlign="center">
          <button mat-raised-button color="primary" type="button" (click)="grabar()"
            [disabled]="grupo.invalid">Grabar</button>
        </div>
      </form>
    </div>
  </div>
</div>
